<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HYDROPLANT | Dashboard</title>
    <link href="/image/fern.png" rel="icon" type="image/x-icon" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- Bulma -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css"
    />

    <!-- Chart JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Moment For Timestamp -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"
    ></script>

    <!-- APEX Chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>

  <body onload="display_ct();">
    <!--Set time clock-->

    <div class="grid">
      <header class="page-header content">
        <!-- <h3>Header</h3> -->
        <nav class="menu-bar">
          <div class="group">
            <a class="item title" href="#">🌱 HYDROPLANT</a>
          </div>
          <div class="group">
            <a href="#" class="item">Home</a>
            <a href="#" class="item">Manual</a>
            <a href="#" class="item">Automatation</a>
            <a href="/chart" class="item">Charts</a>
          </div>
        </nav>
      </header>

      <footer class="page-footer content">
        <h3>Footer</h3>
      </footer>

      <div class="page-leftbar content">
        <!-- <h3>Sidebar</h3> -->
      </div>

      <div class="page-main content">
        <div class="env-title">
          <h1>Dashboard</h1>
          <p id="ct"></p>
        </div>

        <div class="env-card temp">
          <h4 class="env-name">Tempurature</h4>
          <h1 class="env-value" id="env-temp"></h1>
        </div>

        <div class="env-card hum">
          <h4 class="env-name">Humidity</h4>
          <h1 class="env-value" id="env-hum"></h1>
        </div>

        <div class="env-card light">
          <h4 class="env-name">Light</h4>
          <h1 class="env-value" id="env-light"></h1>
        </div>

        <div class="env-card ec">
          <h4 class="env-name">EC</h4>
          <h1 class="env-value" id="env-ec"></h1>
        </div>

        <div class="env-card ph">
          <h4 class="env-name">pH</h4>
          <h1 class="env-value" id="env-ph"></h1>
        </div>

        <div class="env-card sw">
          <h4 class="env-name">Light</h4>
          <div class="field">
            <input
              id="switchThinColorWarning"
              type="checkbox"
              name="switchThinColorWarning"
              class="switch is-thin is-warning"
              checked="checked"
              onclick="state_sw()"
            />
            <label for="switchThinColorWarning"></label>
            <h4>OFF | ON</h4>
          </div>
        </div>

        <div class="env-card card6">
          <div id="graph_chart"></div>
        </div>

        <div class="env-card card5">
          <h4 class="env-name">Process</h4>
          <div id="process_chart"></div>
        </div>
      </div>
    </div>

    <!-- <sc type="text/javascript" src="../public/js/script.js"></sc> -->

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
      //Switch light Box
      function state_sw() {
        var checkbox = document.getElementById("switchThinColorWarning");
        localStorage.setItem("switchThinColorWarning", checkbox.checked);
        // document.getElementById('result_test').innerHTML = checkbox.checked;
        socket.emit("sw-state", checkbox.checked);
      }

      var checked = JSON.parse(localStorage.getItem("switchThinColorWarning"));
      document.getElementById("switchThinColorWarning").checked = checked;

      // Socket.io
      var socket = io();

      socket.on("tempdata", (data) => {
        document.getElementById("env-temp").innerHTML = data.value;
      });

      socket.on("humdata", (data) => {
        document.getElementById("env-hum").innerHTML = data.value;
      });

      socket.on("lightdata", (data) => {
        document.getElementById("env-light").innerHTML = data.value;
      });

      socket.on("ecdata", (data) => {
        document.getElementById("env-ec").innerHTML = data.value;
      });

      socket.on("phdata", (data) => {
        document.getElementById("env-ph").innerHTML = data.value;
      });

      //Set Clock | timezone
      function display_c() {
        var refresh = 1000; // Refresh rate in milli seconds
        mytime = setTimeout("display_ct()", refresh);
      }

      function display_ct() {
        var x = new Date();

        var hour = x.getHours();
        var minute = x.getMinutes();
        var second = x.getSeconds();
        if (hour < 10) {
          hour = "0" + hour;
        }
        if (minute < 10) {
          minute = "0" + minute;
        }
        if (second < 10) {
          second = "0" + second;
        }

        var x1 = x.getDate() + 1 + " " + month_now() + " " + x.getFullYear();
        x1 = x1 + " | " + day_now() + " " + hour + ":" + minute + ":" + second;
        document.getElementById("ct").innerHTML = x1;
        display_c();
      }

      function month_now() {
        var my_month = new Date();
        var month_name = new Array(12);
        month_name[0] = "January";
        month_name[1] = "February";
        month_name[2] = "March";
        month_name[3] = "April";
        month_name[4] = "May";
        month_name[5] = "June";
        month_name[6] = "July";
        month_name[7] = "August";
        month_name[8] = "September";
        month_name[9] = "October";
        month_name[10] = "November";
        month_name[11] = "December";
        return month_name[my_month.getMonth()];
      }
      function day_now() {
        var my_day = new Date();
        var day_name = new Array(7);

        day_name[0] = "Sunday";
        day_name[1] = " Monday";
        day_name[2] = "Tuesday";
        day_name[3] = "Wednesday";
        day_name[4] = "Thursday";
        day_name[5] = "Friday";
        day_name[6] = "Saturday";
        return day_name[my_day.getDay()];
      }

      // Chart Realtime
      var graph_options = {
        chart: {
          height: 350,
          type: "line",
          fontFamily: "Nunito, sans-serif",
          animations: {
            easing: "linear",
            dynamicAnimation: {
              speed: 2000,
            },
          },
          toolbar: {
            show: false,
          },
          zoom: {
            enabled: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
        },
        series: [
          {
            name: "Tempurature",
            data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10, 51, 32, 12],
          },
          {
            name: "pH",
            data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35, 20, 51, 36],
          },
        ],
        title: {
          text: "Dynamic Updating Chart",
          align: "left",
        },
        markers: {
          size: 0,
        },
        xaxis: {
          range: 10,
          tickAmount: 10,
        },
        legend: {
          show: true,
        },
      };

      var graph_chart = new ApexCharts(
        document.querySelector("#graph_chart"),
        graph_options
      );
      graph_chart.render();
      window.setInterval(function () {
        graph_chart.appendData([
          {
            data: [Math.floor(Math.random() * 20 + 20)],
          },
          {
            data: [Math.floor(Math.random() * 20 + 20)],
          },
        ]);
      }, 2000);

      var process_options = {
        chart: {
          height: 280,
          type: "radialBar",
        },

        series: [67],

        plotOptions: {
          radialBar: {
            hollow: {
              margin: 15,
              size: "70%",
            },

            dataLabels: {
              showOn: "always",
              name: {
                offsetY: -10,
                show: true,
                color: "#888",
                fontSize: "13px",
              },
              value: {
                color: "#111",
                fontSize: "30px",
                show: true,
              },
            },
          },
        },

        stroke: {
          lineCap: "round",
        },
        labels: ["Progress"],
      };
      var process_chart = new ApexCharts(
        document.querySelector("#process_chart"),
        process_options
      );

      process_chart.render();
    </script>
  </body>
</html>
