:root {
  --txt_light:#c3c9dd;
  --txt-main: #1a264a;
  
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: #f5f7fd;
}


.grid {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 60px minmax(590px, auto) 200px;
  grid-template-areas: 
    'header header'
    'leftbar main'
    'footer footer';
}

.page-header {
  grid-area: header;
  margin: 0;
  -webkit-box-shadow: 0 8px 6px -6px var(--txt-main);
  -moz-box-shadow: 0 8px 6px -6px var(--txt-main);
       box-shadow: 0 8px 6px -6px var(--txt_light);

}

/* Menu-Bar */
.menu-bar {
  border-radius: 20px;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: var(--txt-main);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: bolder;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
/* ----------------------- */

/* .page-leftbar {
  text-align: center;
  grid-area: leftbar;
  background: #fff;
  border-radius: 20px;
  margin-right: 10px;

} */

.page-main  {
  grid-area: main;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(auto,.4fr) 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: 
  'title      title     title       title'
  'card_temp  card_hum  card_light  card_ec'
  'card_ph    card6     card6       card7'
  'card5      card6     card6       card7';
}

.page-footer {
  grid-area: footer;
  background: #fff;
  border-radius: 20px;
  margin-top: 10px;
}

#chart {
  padding: 10px;
}

#ct {
  color: var(--txt_light) !important;
}

.env-card.temp {
  grid-area: card_temp;
}

.env-card.hum {
  grid-area: card_hum;
}

.env-card.light {
  grid-area: card_light;
}

.env-card.ec {
  grid-area: card_ec;
}

.env-card.ph {
  grid-area: card_ph;
}

.card6 {
  grid-area: card6;
}

.env-title {
  color: var(--txt-main);
  grid-area: title;
  /* background-color: #fff; */
  border-radius: 20px;
  padding-left: 20px;
  /* box-sizing: border-box; */
  /* box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.1); */

}

.env-card {
  /* grid-area: card1; */
  text-align: center;
  width: 1fr;
  height: 1fr;
  border-radius: 20px;
  background: #fff;
  
  /* box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.1); */
}

.env-card .field h4 {
  color: var(--txt_light);
}

.env-card .env-name {
  color: var(--txt_light);
}

.env-card .env-value {
  color: var(--txt-main);
}



.sw {
  align-content: center;
}


/* .content {
  background-color: #f5f7fd;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
} */





